:root {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

nav {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

nav>ul {
    padding: 1em;
    justify-self: end;
    align-items: center;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, fit-content(500px));
    grid-gap: 1em;
}


textarea {
    overflow: scroll;
    resize: none;
}

table {
    border-collapse: collapse;
}

table tbody {
    border-top: 5em solid white;
    column-gap: 2em;
}