<!doctype html>
<html>
<title>{% block title %}{% endblock %} - Digital Notes</title>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="http://fonts.cdnfonts.com/css/common-pixel" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pinyon Script">
</head>

<body>
    <nav>
        <h1><span class="title-first-word">Digital</span> <span class="title-second-word">Notes</span></h1>
        <ul>
            {% if current_user %}
            <li><span>{{current_user["username"]}}{% if current_user["admin"] is true %}(Administrator){% endif
                    %}</span>
            </li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% if current_user["admin"] is true %}
            <li><a href="{{url_for('register', admin=True)}}">Register new administrator</a></li>
            <li><a href="{{url_for('delete_other')}}">Delete a user</a></li>
            {% else %}
            <li><a href="{{url_for('delete_self')}}">Delete account</a></li>
            {% endif %}
            {%else %}
            <li><a href="{{ url_for('login') }}">Log in</a></li>
            <li><a href="{{ url_for('register', admin=False) }}">Register</a></li>
            {% endif %}
        </ul>
    </nav>
    <section class="content">
        {% block content %}{% endblock %}
    </section>
</body>

</html>