{% extends 'base.html' %}
<!DOCTYPE html>

{%block content %}
{% if current_user %}

<div class="my-notes">
    <div class="my-notes-header">
        <h3>My Notes</h3>
        <a href="{{ url_for('create_note') }}" class="new-note-button"><button type="button">&#10133; New</button></a>
    </div>
    <div class="note-list">
        <div class="note-list-header">
            <label>
                Title
            </label>
            <label>
                Last modified
                <a href="{{url_for('homepage', username=current_user['username'], descending= True if (not descending ) else None)}}"
                    style="text-decoration: none; color:var(--text-on-primary);">
                    {%if descending %}
                    &uarr;
                    {%else %}
                    &darr;
                    {%endif%}
                </a>
            </label>
            <label>
                Tags
            </label>
            <form method="post">
                <input name="search" id="search" type="text" placeholder="Search (title or tag)"
                    value="{{search_text if search_text else ''}}" />
                <input type="submit" value="Search" />
            </form>
        </div>
        <div class="note-items">

            {% for note in notes %}
            <details>
                <summary>
                    <label>{{note["title"]}} </label>
                    <time datetime="{{note['date'].strftime('%Y-%m-%d %H:%M:%S')}}">{{note['date'].strftime('%H:%M:%S
                        %d-%m-%Y')}}</time>
                    {{ note["tags"]|join(',') }}
                    <div>
                        <a href="{{url_for('create_note', note_id=note['_id'])}}">
                            <button type="button">Edit</button>
                        </a>
                        <a href="{{url_for('delete_note', user_id=current_user['_id'], note_id=note['_id'])}}">
                            <button type="button">Delete</button>
                        </a>
                    </div>
                </summary>
                <textarea rows="30" cols="50" readonly>{{note["content"]}}</textarea>
            </details>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}