{% extends 'base.html' %}
<!DOCTYPE html>

{%block content %}
<h2>
    Welcome to Digital Notes!
</h2>
{% if current_user %}
<a href="{{ url_for('create_note') }}"><button type="button">Create a note</button></a>
<h3>My Notes</h3>

<table>
    <thead>
        <td>
            Title
        </td>
        <td>
            Date created:
            <a
                href="{{url_for('homepage', username=current_user['username'], descending= True if (not descending ) else None)}}">
                <button type="button">
                    {%if descending %}
                    Descending
                    {%else %}
                    Ascending
                    {%endif%}
                </button>
            </a>
        </td>
        <td>
            Tags
        </td>
        <td colspan="2">
            <form method="post">
                <label for="search">Title:</label>
                <input name="search" id="search" type="text" />
                <label for="search_tag">Tag:</label>
                <input name="search_tag" id="search_tag" type="text" />
                <input type="submit" value="Search" />
            </form>
        </td>
    </thead>
    {% for note in notes %}
    <tbody>
        <tr>
            <td>
                <label>{{note["title"]}} </label>
            </td>
            <td>
                <time datetime="{{note['date'].strftime('%Y-%m-%d %H:%M:%S')}}">{{note['date'].strftime('%H:%M:%S
                    %d-%m-%Y')}}</time>
            </td>
            <td>
                {{ note["tags"]|join(',') }}
            </td>
            <td>
                <a href="{{url_for('create_note', note_id=note['_id'])}}">
                    <button type="button">Edit</button>
                </a>
            </td>
            <td>
                <a href="{{url_for('delete_note', user_id=current_user['_id'], note_id=note['_id'])}}">
                    <button type="button">Delete</button>
                </a>
            </td>

        </tr>
        <tr>
            <td colspan="4">
                <details>
                    <summary>
                        Note
                    </summary>
                    <textarea rows="30" cols="50" readonly>{{note["content"]}}</textarea>
                </details>
            </td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% endif %}
{% endblock %}